@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

@layer base {
    html {
        @apply text-gray-900;
    }
    html.dark {
        @apply text-gray-100;
    }
}

.dark body {
    background-color: rgb(3 7 18);
    color: rgb(209 213 219);
}

body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}